@media only screen and (max-width: 800px) {

    .cat,
    .eye,
    .waves,
    .footer,
    .content,
    .text,
    .volume {
        display: none;
    }

    html,
    body {
        display: grid;
        place-items: center;
        height: 100vh;
        margin: 0;
    }

    @font-face {
        font-family: 'Seuss';
        src: url('src/Seuss.woff2') format('woff2'),
            url('src/Seuss.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }


    html,
    body {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        font-family: 'Seuss';
        margin: 0;
    }


    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 32px;
        overflow-x: hidden;
    
        background-size: cover;
        max-height: 100vh;
        align-items: center;
        line-height: 1.5em;
        word-spacing: 0.2em;
    }



    .madLibsEdit {
        grid-area: 2 / 1 / 3 / 2;
        background-image: url("src/madlibsedit bg.png");
        border-radius: 1em;
        width: 100vw;
        height: auto;
        padding: 1%;
        transition: all 0.5s;
        font-size: 1.5em;
        line-height: 1.5em;
        word-spacing: 0.2em;
        margin: 2em;
    }


    .madLibsPreview {
        grid-area: 3 / 1 / 4 / 2;
        
        border-radius: 1em;
        margin: 2%;
        height: auto;
        padding: 1%;
        transition: all 0.5s;
        font-size: 1.5em;
    }

    input {
        padding: 10px;
        height: 12px;
        margin-right: 5px;
        margin-left: 5px;
        border: 1px solid #0B2447;
        border-top: none;
        border-bottom: none;
        font-size: 20px;
        max-width: 14%;
        min-width: 10%;
        opacity: 0.6;
        outline: none;
        box-shadow: 2px 2px 0px 0px #0B2447;
        transition: all 0.5s;
    }

    input:focus {
        box-shadow: none;
        transition: all 0.5s;
    }

    input.has-text {
        background-color: #0B2447;
        color: white;
    }




    .waves {
        display: none;
    }

    .small-title {
        grid-area: 1 / 1 / 2 / 2;
        color: black;
        position: absolute;
        top: 5vh;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;
        font-size: 50px;
    }





}


@media only screen and (min-width: 800px) {
    .small-title {
        display: none;
    }
}



@media only screen and (max-width: 400px){
    .volume  {
        display: none;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: space-between;  }
        .preview {
            height: 25vh;
            display: flex;
            align-items: end;
            flex-direction: column;
            margin-bottom: 5%;
        }
}
