@font-face {
  font-family: 'Seuss';
  src: url('src/Seuss.woff2') format('woff2'),
    url('src/Seuss.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-image: url("src/background.jpg");
  display: flex;
  flex-direction: column;
  font-family: 'Seuss';
}

#page-wrap {
  position: relative;
  display: block;
  clear: both;
  background: none;
  color: #000;
  text-decoration: none;
  padding: 3rem 0;
  width: 100%;
  height: 100%;
}


#inner-wrap {
  position: absolute;
  z-index: -1;
  top: 1rem;
  left: 0;
  right: 0;
  bottom: 3rem;
  display: table;
  width: 100%;
  height: 100%;
  min-height: 322px;
  overflow: visible;
}

.waves {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  min-width: 100%;
  min-height: 70%;
  margin: auto 0;
}

.text {
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 83%;
  height: 100%;
  margin: auto;
  text-align: center;
  margin-top: 5%;
  font-size: 50px;
}

.main {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}


.madLibsEdit {
  background-image: url("src/madlibsedit bg.png");
  background-position: center;
  border-radius: 1em;
  min-width: 40%;
  width: 50vw;
  height: auto;
  padding: 1%;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.383);
  transition: all 0.5s;
  font-size: 1.5em;
  line-height: 1.5em;
  word-spacing: 0.2em;
}


.preview {
  margin-top: 5%;
  height: 25vh;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

button {
  width: 6em;
  border-radius: 1em;
  order: 3;
  --button-color: #222;
}

#volume {
  color: #000;
  width: 13%;
  border-radius: 10px;
  order: 2;
}

.madLibsPreview {
  background-image: url("src/madlibspreview bg.jpg");
  background-position: center;
  border-radius: 1em;
  width: 90%;
  margin-top: 1%;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.383);
  height: auto;
  padding: 5px 2% 12px 2%;
  background-color: #e70f0fa2;
  transition: all 0.5s;
  font-size: 1.5em;
}


input {
  padding: 10px;
  height: 12px;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid #0B2447;
  border-top: none;
  border-bottom: none;
  font-size: 20px;
  max-width: 14%;
  min-width: 10%;
  opacity: 0.8;
  outline: none;
  box-shadow: 2px 2px 0px 0px #FF0000;
  transition: all 0.5s;
}

input:focus {
  box-shadow: none;
  transition: all 0.5s;
}

input.has-text {
  background-color: #FF0000;
  color: white;
}



.footer {
  display: flex;
  position: sticky;
  z-index: -3;
  --footer-background: #ef0b0bdf;
}

.bubbles {
  position: absolute;
  top: 1px;
  left:  5vw;
  right: 5vw;
  height: 0.5rem;
  max-width: 80vw;
}

.bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-out infinite var(--delay, 0s),
    bubble-move var(--time, 4s) ease-out infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}


@keyframes bubble-size {

  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }

  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-move {
  0% {
    bottom: 1rem;
  }

  100% {
    bottom: var(--distance, 2vh);
  }
}

.content {
  text-align: center;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 3rem;
  background-color: #23e7c600;
}

.content a,
.content p {
  text-decoration: none;
  font-size: 2em;
}


.content b {
  color: black;
  font-size: 1.6em;

}



.waves>path {
  -webkit-animation: a 17390ms ease-in-out infinite alternate-reverse both;
  -moz-animation: a 17390ms ease-in-out infinite alternate-reverse both;
  -ms-animation: a 17390ms ease-in-out infinite alternate-reverse both;
  -o-animation: a 17390ms ease-in-out infinite alternate-reverse both;
  animation: a 17390ms ease-in-out infinite alternate-reverse both;
  -webkit-animation-timing-function: cubic-bezier(.25, 0, .75, 1);
  -moz-animation-timing-function: cubic-bezier(.25, 0, .75, 1);
  -ms-animation-timing-function: cubic-bezier(.25, 0, .75, 1);
  -o-animation-timing-function: cubic-bezier(.25, 0, .75, 1);
  animation-timing-function: cubic-bezier(.25, 0, .75, 1);
  -webkit-will-change: transform;
  -moz-will-change: transform;
  -ms-will-change: transform;
  -o-will-change: transform;
  will-change: transform
}

.waves>path:nth-of-type(1) {
  -webkit-animation-duration: 20580ms;
  -moz-animation-duration: 20580ms;
  -ms-animation-duration: 20580ms;
  -o-animation-duration: 20580ms;
  animation-duration: 20580ms
}

.waves>path:nth-of-type(2) {
  -webkit-animation-delay: -2690ms;
  -moz-animation-delay: -2690ms;
  -ms-animation-delay: -2690ms;
  -o-animation-delay: -2690ms;
  animation-delay: -2690ms;
  -webkit-animation-duration: 13580ms;
  -moz-animation-duration: 13580ms;
  -ms-animation-duration: 13580ms;
  -o-animation-duration: 13580ms;
  animation-duration: 13580ms
}

g>path:nth-of-type(1) {
  -webkit-animation-delay: -820ms;
  -moz-animation-delay: -820ms;
  -ms-animation-delay: -820ms;
  -o-animation-delay: -820ms;
  animation-delay: -820ms;
  -webkit-animation-duration: 10730ms;
  -moz-animation-duration: 10730ms;
  -ms-animation-duration: 10730ms;
  -o-animation-duration: 10730ms;
  animation-duration: 10730ms
}

.waves>path:nth-of-type(1),
g>path:nth-of-type(2) {
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate
}

@-webkit-keyframes a {
  0% {
    -webkit-transform: translateX(-750px);
    transform: translateX(-750px)
  }

  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px)
  }
}

@-moz-keyframes a {
  0% {
    -moz-transform: translateX(-750px);
    transform: translateX(-750px)
  }

  100% {
    -moz-transform: translateX(-20px);
    transform: translateX(-20px)
  }
}

@-ms-keyframes a {
  0% {
    -ms-transform: translateX(-750px);
    transform: translateX(-750px)
  }

  100% {
    -ms-transform: translateX(-20px);
    transform: translateX(-20px)
  }
}

@-o-keyframes a {
  0% {
    -o-transform: translateX(-750px);
    transform: translateX(-750px)
  }

  100% {
    -o-transform: translateX(-20px);
    transform: translateX(-20px)
  }
}

@keyframes a {
  0% {
    -webkit-transform: translateX(-750px);
    -moz-transform: translateX(-750px);
    -ms-transform: translateX(-750px);
    -o-transform: translateX(-750px);
    transform: translateX(-750px)
  }

  100% {
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px)
  }
}



input[type=range]#volume {
  height: 2.2em;
  -webkit-appearance: none;
}

/*progress support*/
input[type=range]#volume.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}

input[type=range]#volume:focus {
  outline: none;
}

/*webkit*/
input[type=range]#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 2em;
  border-radius: 1em;
  background: #FF0000;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: calc(max((1em - 1px - 1px) * 0.5, 0px) - 2em * 0.5);
}

input[type=range]#volume::-webkit-slider-runnable-track {
  height: 1em;
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #FF0000;
  box-shadow: none;
}

input[type=range]#volume::-webkit-slider-thumb:hover {
  background: #000000;
}

input[type=range]#volume:hover::-webkit-slider-runnable-track {
  border-color: #9a9a9a;
}

input[type=range]#volume:active::-webkit-slider-runnable-track {
  border-color: #c1c1c1;
}

input[type=range]#volume.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#99FF1E, #99FF1E) 0/var(--sx) 100% no-repeat, #FF0000;
}

/*mozilla*/
input[type=range]#volume::-moz-range-thumb {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: #FF0000;
  border: none;
  box-shadow: 0 0 2px black;
}

input[type=range]#volume::-moz-range-track {
  height: max(calc(1em - 1px - 1px), 0px);
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #FF0000;
  box-shadow: none;
}

input[type=range]#volume::-moz-range-thumb:hover {
  background: #000000;
}

input[type=range]#volume:hover::-moz-range-track {
  border-color: #9a9a9a;
}

input[type=range]#volume:active::-moz-range-track {
  border-color: #c1c1c1;
}

input[type=range]#volume.slider-progress::-moz-range-track {
  background: linear-gradient(#99FF1E, #99FF1E) 0/var(--sx) 100% no-repeat, #FF0000;
}

/*ms*/
input[type=range]#volume::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type=range]#volume::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type=range]#volume::-ms-thumb {
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background: #FF0000;
  border: none;
  box-shadow: 0 0 2px black;
  /* margin-top: 0; */
  box-sizing: border-box;
}

input[type=range]#volume::-ms-track {
  height: 1em;
  border-radius: 0.5em;
  background: #FF0000;
  border: 1px solid #b2b2b2;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=range]#volume::-ms-thumb:hover {
  background: #000000;
}

input[type=range]#volume:hover::-ms-track {
  border-color: #9a9a9a;
}

input[type=range]#volume:active::-ms-track {
  border-color: #c1c1c1;
}

input[type=range]#volume.slider-progress::-ms-fill-lower {
  height: max(calc(1em - 1px - 1px), 0px);
  border-radius: 0.5em 0 0 0.5em;
  /* margin: -1px 0 -1px -1px; */
  background: #99FF1E;
  border: 1px solid #b2b2b2;
  border-right-width: 0;
}


#google_translate_element {
  display: flex;
  justify-content: center;
  width: auto;
  border: solid 1px #FF0000;
  border-radius: 12px;
  box-shadow: 3px 3px 4px rgb(7, 5, 5), 0 0 25px rgb(165, 10, 10), 0 0 25px rgb(164, 115, 115);
}


.preview-animation {
  animation-name: colorChange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

@keyframes colorChange {
  0% {
    color: red;
  }

  25% {
    color: rgb(0, 0, 0);
  }


  75% {
    color: rgba(255, 0, 0, 0.415);
  }

  100% {
    color: red;
  }
}